extends layout

block content
    h1.
        Doctor List

    table
     thead
        tr
          th name
          th gender
          th specialty
          th age
          th experience
     tbody
      each doctor, i in doctorlist
          
        tr
          td=doctor.name
          td=doctor.gender
          td=doctor.specialty
          td=doctor.age
          td=doctor.experience
          
          
    a(href="/")
        button(type="button") Back-To-Home


